#top {
  width: 100%;
  margin-bottom: calc(100vh / 5);
}

.topContainer {
  @include containerCommon;
  color: white;
  width: 1000px;
  height: calc(100vh - 65px);
  margin-top: 65px;
  padding-left: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  animation: topAnime 1s 0.4s ease-out forwards;
  @include tab {
    width: 95%;
    height: calc(100vh - 100px);
    margin-top: 100px;
  }
  @include sp {
    height: calc(100vh - 40px);
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }
  h2 {
    font-size: 32px;
    font-family: "Playball", cursive;
    width: fit-content;
    opacity: 0;
    animation: slideRight 1s 1s ease-out forwards;
    @include sp {
      // font-size: 40px;
      // margin-top: -40px;
      font-size: 5vw;
    }
  }
  p {
    width: fit-content;
    transform: translateX(-60px);
    opacity: 0;
    animation: slideRight 1s 1.3s ease-out forwards;
    @include sp {
      width: 80%;
      font-size: 14px;
    }
  }
  span {
    writing-mode: vertical-lr;
    letter-spacing: 0.3em;
    position: absolute;
    right: 60px;
    bottom: calc(60px + 10px);
    opacity: 0;
    animation: slideDown 1s 1.6s ease-out forwards;
    &::after {
      content: "";
      height: 60px;
      width: 1px;
      margin-top: 10px;
      position: absolute;
      left: 50%;
      background-color: #fff;
    }
  }
}
