#works {
    h2 {
        margin-bottom: 60px;
        p {
            font-size: 14px;
            font-weight: normal;
        }
    }
    .works-contents {
        h3 {
            font-size: 28px;
            margin-top: 0;
            text-align: center;
        }

        .works-item {
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            width: 740px;
            padding: 0 30px 30px 30px;
            &:not(:last-child) {
                margin-bottom: 50px;
                border-bottom: 1px solid black;
            }
            .works-link {
                display: block;
                width: 320px;
                height: 182px;
                border: 1px solid gray;
                border-radius: 4px;
                transform: translateX(160px);
                &.show {
                    transform: translateX(0px);
                    transition: 0.5s ease-in-out;
                }
                .works-img {
                    width: 100%;
                    border-radius: 4px;
                    height: 100%;
                }
            }
            // .works-img-left {
            // }
            // .works-img-right {
            //   transform: translateX(-183px);
            // }
            .works-text {
                width: 270px;
                text-align: left;
                visibility: hidden;
                opacity: 0;
                padding-left: 50px;
                &.show {
                    padding-left: 50px;
                    transition: 1s ease-in-out;
                    visibility: visible;
                    opacity: 1;
                }
                span {
                    display: none;
                }
                // h3 {
                //   font-size: 20px;
                //   margin-top: 0;
                // }
                h4 {
                    margin-bottom: -10px;
                }
            }
        }
        @include tab {
            .flex-reverse {
                flex-direction: row-reverse;
                .works-text {
                    padding: 0 15px 0 0;
                    &.show {
                        padding-left: 0;
                    }
                }
            }
            .works-item {
                width: $sp;
                padding: 0 0 30px 0;
                .works-link {
                    transform: translateX(0px);
                    // .works-img {
                    // width: calc(300px / 3 * 2);
                    // height: calc(200px / 3 * 2);
                    // transform: translateX(140px);
                    // &.show {
                    //   transform: scale(1.3);
                    // }
                    // }
                }
                // .works-img-left {
                // }
                // .works-text-right {
                // }
                // .works-img-right {
                //   transform: translateX(-140px);
                // }
                // .works-text-left {
                //   transform: translateX(140px);
                // }
                .works-text {
                    // transform: translateX(-140px);
                    // visibility: visible;
                    // width: calc(300px / 3 * 2);
                    // height: calc(200px / 3 * 2);
                    // background-color: rgba(128, 128, 128, 0.5);
                    // border-radius: 4px;
                    visibility: visible;
                    opacity: 1;
                    z-index: 9;
                    // color: white;
                    // &.show-tab {
                    //   // opacity: 0;
                    //   background-color: transparent;
                    //   transition: 0.1s ease-in;
                    //   animation: worksAnime 0s 0.4s ease-out forwards;
                    // }
                    &.show {
                        padding-left: 50px;
                    }
                    &.show.text-reverse {
                        padding-left: 0;
                    }
                    // padding: 0;
                    width: 270px;
                    height: auto;
                    transform: translateX(0);
                    color: black;
                    background-color: transparent;
                    transition: 0.5s ease-in-out;
                    h3 {
                        text-align: left;
                        margin-top: -20px;
                        transition: 0.5s ease-in-out;
                    }
                    span {
                        display: none;
                    }
                    h4 {
                        display: block;
                        transition: 0.5s ease-in-out;
                    }
                    li {
                        display: block;
                        transition: 0.5s ease-in-out;
                    }
                    p {
                        display: block;
                        transition: 0.5s ease-in-out;
                    }

                    // h3 {
                    //   text-align: center;
                    //   margin-top: 40px;
                    // }
                    // // span {
                    // //   display: block;
                    // //   text-align: center;
                    // // }
                    // h4 {
                    //   display: none;
                    //   font-size: 18px;
                    // }

                    // li {
                    //   display: none;
                    //   font-size: 18px;
                    // }
                    // p {
                    //   display: none;
                    //   font-size: 18px;
                    // }
                }
            }
        }
        @include sp {
            .works-item {
                width: 80%;
                flex-direction: column;
                margin: 0 auto;
                .works-link {
                    // transform: translateX(0);
                    margin: 0 auto;
                    // &.show {
                    //   transform: scale(1.3);
                    // }
                }
                .works-text {
                    // transform: translateX(0);
                    // transform: translateY(calc(200px / 3 * -2));
                    transform: translateY(50px);
                    margin: 0 auto;
                    padding: 0;
                    margin-bottom: 40px;
                    text-align: center;
                    font-size: 20px;
                    &.show {
                        // transform: translateY(50px);
                        padding: 0;
                        // margin-bottom: 40px;
                        // text-align: center;
                    }
                    h3 {
                        font-size: 28px;
                        margin-top: auto;
                        text-align: center;
                    }
                }
                // .works-text-right {
                // }
                // .works-text-left.show-tab {
                //   transform: translateY(200px);
                // }
                // .works-img-right {
                //   transform: translateY(calc(200px / 3 * -2));
                // &.show {
                //   // transform: none;
                //   transform: scale(1.3);
                // }
                // }
            }
        }
    }
}
