//@mixin 設定ファイルをimport
@import "mixin";

#bg-img {
    @include bg-img;
}

#confirm {
    .wrapper {
        margin: 0;
        padding-top: 65px;
        #confirm-form {
            padding-top: 30px;
            @include form;
            #confirm-contents {
                @include form-contents;
                p {
                    margin: 40px 0 8px;
                    font-weight: bold;
                }
                span {
                    margin-left: 1.5rem;
                    margin-bottom: 20px;
                }
                .buttons {
                    margin-top: 40px;
                    width: 400px;
                    display: flex;
                    justify-content: space-around;
                    .each-btn {
                        width: 100px;
                        border-radius: 4px;
                        background-color: white;
                        font-weight: bold;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    @include tab {
        .wrapper {
            padding-top: 100px;
        }
    }
    @include sp {
        .wrapper {
            padding-top: 40px;
            #confirm-form {
                width: 100vw;
                #confirm-contents {
                    width: 100vw;
                    margin: 0;
                    .buttons {
                        width: 70%;
                    }
                }
            }
        }
    }
}

#sent {
    .wrapper {
        margin: 0;
        padding-top: 65px;
        #sent-form {
            padding-top: 30px;
            @include form;
            #sent-contents {
                @include form-contents;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-size: 16px;
                }
                input {
                    width: 100px;
                    border-radius: 4px;
                    background-color: white;
                    font-weight: bold;
                    padding: 10px 0;
                }
            }
        }
    }
    @include tab {
        .wrapper {
            padding-top: 100px;
            #sent-form {
            }
        }
    }
    @include sp {
        .wrapper {
            padding-top: 40px;
            #sent-form {
                padding: 50px 0;
                width: 100vw;
                #sent-contents {
                    width: 100%;

                }
            }
        }
    }
}
